<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title id="title">CalSTAR Telemetry Runz</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">CalSTAR Telemetry</a>
  </nav>
  <script type="text/javascript" src="/dist/client.js"></script>
  <a class="btn btn-primary" href="/runs">Back To Runs</a>
  <a class="btn btn-danger" href="/">Home</a>
  <table class="table table-striped">
    <tr>
      <th>Run ID</th>
      <th>Data Index</th>
      <th>Data Type ID</th>
      <th>Value</th>
    </tr>
    {{#data}}
    <tr>
      <td>{{runId}}</td>
      <td>{{dataIndex}}</td>
      <td>{{dataTypeId}}</td>
      <td>{{value}}</td>
    </tr>
    {{/data}}
  </table>
</body>

</html>
